.header
{
    height: 200px;
}

.grid
{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(35, 35, 35);
    margin: 0 auto;
}

.square 
{
    justify-content: center;
    /* border: 1px solid black; */
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}