/* h1
{
    background-color: rgb(79, 44, 44);
} */

.grid-container
{
    max-width: 960px;
    max-height: 960px;
    background-color: blueviolet;
}

.grid-row
{
    display: flex;
}

.grid-column
{
    background-color: rgb(182, 187, 193);
    flex: 1;
}
